@@ .. @@
                 <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('audit_index') }}">
                         <i class="bi bi-shield-check"></i>
                         <span class="nav-text">Audit Trail</span>
                     </a>
                 </li>
+                <li class="nav-item">
+                    <a class="nav-link" href="{{ url_for('survey_management_hub') }}">
+                        <i class="bi bi-diagram-3"></i>
+                        <span class="nav-text">Survey Hub</span>
+                    </a>
+                </li>
+                <li class="nav-item">
+                    <a class="nav-link" href="{{ url_for('register_user_page') }}">
+                        <i class="bi bi-person-plus"></i>
+                        <span class="nav-text">User Registration</span>
+                    </a>
+                </li>
             </ul>
         </div>
     </nav>